<div class="row container">
    <div class="col-md-2">
        
    </div>
    <div class=" col-md-8 text-center jumbotron ">
     
        <div id="demo" class="collapse">

            
        </div>
        
        <button onclick="GetArduino();"  type="button" class="btn btn-danger"  data-toggle="collapse"
                data-target="#demo" style="height:200px;width:190px;outline: none;">
            <img src="~/click5.png"/>
        </button>
         <hr />
       
       
    </div>
    <div class="col-md-2">

        <!--
        <a class="twitter-timeline" href="https://twitter.com/aallanrd" data-widget-id="458358967274463232">Tweets por aallanrd.</a>
        -->
       
       
    
    </div>
    
</div>