<div class="row container">
    <div class="col-md-2">
        
    </div>
    <div class=" col-md-8 text-center jumbotron ">
     
        <div id="demo" class="collapse">

            
        </div>
        
       
         <hr />
       
       
    </div>
    <div class="col-md-2">

        <!--
        <a class="twitter-timeline" href="https://twitter.com/aallanrd" data-widget-id="458358967274463232">Tweets por aallanrd.</a>
        -->
       
       
    
    </div>
    
</div>